<!DOCTYPE html>
<html lang="en">
<head>
    <!--更多资源：https://gitee.com/iGaoWei/big-data-view -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index.css">
    <title>评论数据</title>
    <script src="js/jquery-2.2.1.min.js"></script>
    <script src="js/rem.js"></script>
    <script src="js/echarts.min.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <div class="t_container">
        <header class="t_h_bg">
            <span>评论大数据</span>
        </header>
        <main class="t_main">
            <div class="t_box">
                <header class="t_title">
                    <span>耳机评论总数</span>
                </header>
                <div id="chart_1" class="echart" style="width: 100%; height: 3rem;"></div>
            </div>
            <div class="t_box">
                <header class="t_title">
                    <span>耳机好评数统计</span>
                </header>
                <div id="chart_2" class="echart" style="width: 100%; height: 3rem;"></div>
            </div>
            <div class="t_box">
                <header class="t_title">
                    <span>音响评论总数</span>
                </header>
                <div id="chart_3" class="echart" style="width: 100%; height: 3rem;"></div>
            </div>
            <div class="t_box">
                <header class="t_title">
                    <span>音响好评数TOP10</span>
                </header>
                <div id="chart_4" class="echart" style="width: 100%; height: 3rem;"></div>
            </div>
        </main>
    </div>
</body>

</html>